{% extends 'base.html' %}
{% load static %}
{% block title %} Blogs {% endblock %}
{% block homeactive %} active {% endblock homeactive %}

{% block css %}
<style>
    .custom-card {
        max-width: 300px; /* Ajusta según sea necesario */
        margin: auto; /* Centra las tarjetas */
    }
    .card-img-top {
        width: 100%;
        height: auto;
        object-fit: cover; /* Mantiene la proporción de la imagen y la recorta si es necesario */
        max-height: 200px; /* Limita la altura para que sea uniforme */
    }

    /* Para las imágenes de publicidad */
    .img-fluid {
        width: 100%;
        height: auto;
        object-fit: cover; /* Asegura que las imágenes mantengan su aspecto */
    }
</style>
{% endblock %}

{% block content %}
<div class="nav-item dropdown">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="filtroDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filtrar 
        </button>
        <div class="dropdown-menu" aria-labelledby="filtroDropdown">
            <h6 class="dropdown-header">Por Categoria:</h6>
            <a class="dropdown-item" href="{% url 'apps.Noticias:filter_blogs' %}?sort=categoria&order=asc">A-Z</a>
            <a class="dropdown-item" href="{% url 'apps.Noticias:filter_blogs' %}?sort=categoria&order=desc">Z-A</a>
            <div class="dropdown-divider"></div>

            <h6 class="dropdown-header">Por Titulo:</h6>
            <a class="dropdown-item" href="{% url 'apps.Noticias:filter_blogs' %}?sort=title&order=asc">A-Z</a>
            <a class="dropdown-item" href="{% url 'apps.Noticias:filter_blogs' %}?sort=title&order=desc">Z-A</a>
           

            <div class="dropdown-divider"></div>

            <h6 class="dropdown-header">Por Fecha:</h6>
            <a class="dropdown-item" href="{% url 'apps.Noticias:filter_blogs' %}?sort=dateTime&order=asc">Nuevos</a>
            <a class="dropdown-item" href="{% url 'apps.Noticias:filter_blogs' %}?sort=dateTime&order=desc">Antiguos</a>

        </div>
    </div>
</div>

<div class="row">
    {% if posts %}
        {% for post in posts %}
        <div class="col-lg-4 my-4">
            <div class="card shadow h-100 custom-card">
                <img src="{% if post.image %}/media/{{ post.image }}{% else %}{% static 'img/default-image.jpg' %}{% endif %}" class="card-img-top" alt="{{ post.title }}" style="object-fit: cover; height: 200px; width: 100%;" loading="lazy">
                <a href="{% url 'apps.Noticias:categorias' post.categoria %}" class="btn btn-primary">{{ post.categoria }}</a>
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }} <br><small>por {{ post.author }} Published on: {{ post.dateTime }}</small></h5>
                    <p class="card-text">{{ post.content|truncatechars:250 }}</p>
                    <a href="{% url 'apps.Noticias:blogs_comments' post.slug %}" class="btn btn-primary">Leer más</a>
                
                    {% if user.is_authenticated and user_is_colaborador %}
                        <a href="{% url 'apps.Noticias:delete_blog_post' post.id %}" class="btn btn-danger">Eliminar</a>
                    {% endif %}

                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
            <p class="text-center">No hay publicaciones disponibles</p>
    {% endif %}
      </div>
    </div>
    <div class="col-lg-3">
      <div class="sticky-sidebar">
          <div class="post-container mb-4">
              <h4>Publicidad</h4>
              <img src="{% static 'img/news-110x110-1.jpeg' %}" class="img-fluid mb-3" alt="Anuncio 1">
              <img src="{% static 'img/news-110x110-2.jpg' %}" class="img-fluid mb-3" alt="Anuncio 2">
              <img src="{% static 'img/news-110x110-3.jpg' %}" class="img-fluid mb-3" alt="Anuncio 3">
              <img src="{% static 'img/news-110x110-4.jpg' %}" class="img-fluid mb-3" alt="Anuncio 4">
          </div>
      </div>
    </div>


{% endblock %}









